body {
   
    font-family: 'Lato', sans-serif;

}

.hero-container {
    height: 40vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    
  }

.hero {
    background: url("/img/trans-chalkboard-sample.jpeg") no-repeat center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    
  
}
 h1, h3 {
    color: white;
    font-family: 'Lato', sans-serif;
    font-style: bold

}



.hero-stuff {
    position: absolute;
    top: 30%;
    left: 10%
  
    
    
  }

.headline {
    font-size: 2.5rem;
    position: relative;
}
.headline-row {
    height: 50vh
}
.color-pink {
    background: pink;
    border: solid 10px white;
    padding-top: 50px;
   font-weight: 400;
   border-radius: 25px

}

.color-pink:hover {
    transform: scale(1.2);
    transition: ease-in-out 20ms
}

.form {
    padding: 20px
}
@media (min-width: 400px) and (max-width: 599px) {
    
    .headline {
        position: relative;
    }
}

@media (min-width: 600px)  and (max-width: 899px) {
    .hero-stuff {
        left: 10%
    }
    .headline {
        position: relative;
    }
}
@media (min-width: 900px) {
    .hero-stuff {
        left: 23%
    }
.headline {
    font-size: 4rem;
    position: relative;
    
}

.register-headline {
    font-size: 4rem;
    color: black
}
.headline-row {
    height: 30vh
}
  


}



/* crop the background image to hero*/